button{
    border-radius: 20px;
    border: solid 1px;
}
.redbox{
    padding: 9px 12px;
    background-color: red;
    color: white;
    margin-right: 20px;
}
.loginbox{
    width: 200px;
    height: 40px;
    padding: 7px 22px;
    margin-left: 70px;
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
}
.three{ 
    width: 300px;
    height: 40px;
    margin-left: 20px;
    margin-top: 8px;
    border-radius: 0%;
    background-color: yellow;
    border: solid 1px rgb(236, 236, 55);
}